
@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&display=swap');



.custom-link {
    color: #3B82F6;
    &:hover {
        color: red;
    }
    text-decoration: none;
}

.complex-element {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    padding: 4px;
    border: 2px solid #000;
}

/* .complex-element {
    @apply flex items-center bg-gray-100 p-4;
    border: 2px solid #000;
  } */